<!DOCTYPE html>
<html lang="en">
<head>
  <title>Yash Pame</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="style/style.css") }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="style/font-awesome.css") }}">

</head>
<body>

<!--Page Loader Start-->
<div class="page-loader">
  <div></div>
  <div></div>
  <div></div>
</div>
<!--Page Loader End-->

<!--Background Circles Start-->
<div class="bg-circles">
  <div class="circle-1"></div>
  <div class="circle-2"></div>
  <div class="circle-3"></div>
  <div class="circle-4"></div>
</div>
<!--Background Circles End-->

<!--Overlay Start-->
<div class="overlay">
</div>
<!--Overlay End-->

<!-- Main Start-->
<div class="main hidden">

  <!-- Header Start-->
  <header class="header">
    <div class="container">
      <div class="row flex-end">
        <button type="button" class="nav-toggler">
          <span></span>
        </button>
        <nav class="nav">
          <div class="nav-inner">
            <ul>
              <li><a href="#home" class="nav-item link-item">Home</a></li>
              <li><a href="#about" class="nav-item link-item">About</a></li>
              <li><a href="#portfolio" class="nav-item link-item">Portfolio</a></li>
              <li><a href="#contact" class="nav-item link-item">Contact</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </header>
  <!-- Header End-->

  <!-- Home Section Start-->
  <section class="home-section align-items-center" id="home">
    <div class="container">
      <div class="row align-items-center">
        <div class="home-text">
          <p>Hello, I'm</p>
          <h1>Yash Pame</h1>
          <h2>Developer</h2>
          <a href="#about" class="btn link-item">More About Me</a>
          <a href="#portfolio" class="btn link-item">Portfolio</a>
        </div>
        <div class="home-img">
           <div class="img-box">
             <img src="{{ url_for('static', filename="img/Yashprofile-img.jpg") }}" alt="profile-img">
           </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Home Section End-->

  <!-- About Section Start-->
  <section class="about-section sec-padding" id="about">
    <div class="container">
      <div class="row">
        <div class="section-title">
          <h2>About Me</h2>
        </div>
      </div>
      <div class="row">
        <div class="about-img">
          <div class="img-box">
            <img src="{{ url_for('static', filename="img/YashPic4.jpg") }}" alt="about img">
          </div>
        </div>
        <div class="about-text">
          <p>I am a software developer and an undergraduate student with experience in designing, coding, and testing. I'm highly proficient in Python and develop various softwares using python, Tkinter, MySQL, OpenCV and Machine Learning.</p>
          <h3>Skills</h3>
          <div class="skills">
            <div class="skill-item">Python</div>
            <div class="skill-item">Machine Learning</div>
            <div class="skill-item">OpenCV</div>
            <div class="skill-item">HTML</div>
            <div class="skill-item">CSS</div>
            <div class="skill-item">Javascript</div>
            <div class="skill-item">MySQL</div>
            <div class="skill-item">React</div>
            <div class="skill-item">Flask</div>
            <div class="skill-item">C++</div>
          </div>

          <div class="about-tabs">
            <button type="button" class="tab-item active" data-target="#education">Education</button>
            <button type="button" class="tab-item" data-target="#experience">Experience</button>
          </div>

          <!-- Education Start-->
          <div class="tab-content active" id="education">
            <div class="timeline">
              <div class="timeline-item">
                <span class="date">2020-2024</span>
                <h4>BE Artificial Intelligence and Data Science- <span>Pune University</span></h4>
                <p>D Y Patil College of Engineering<br>FE SGPA: 9.98</p>
              </div>
              <div class="timeline-item">
                <span class="date">2019-2020</span>
                <h4>12th Std- <span>Maharashtra board</span></h4>
                <p>Anglo Urdu Boys High School and Jr. College<br>JEE Mains: 89.95 Percentile<br>MHTCET: 91.85 percentile</p>
              </div>
              <div class="timeline-item">
                <span class="date">2017-2018</span>
                <h4>10th Std- <span>CBSE</span></h4>
                <p>MIT Vishwashanti Gurukul School</p>
              </div>
            </div>
          </div>
          <!-- Education End-->

          <!-- Experience Start-->
          <div class="tab-content" id="experience">
            <div class="timeline">
              <div class="timeline-item">
                <span class="date">2022</span>
                <h4>Developer - <span>Machine Learning</span></h4>
                <p>intern Machine Learning developer at FessorPro<br>Duration: 2 Months</p>
              </div>
              <!-- <div class="timeline-item">
                <span class="date">2013-2016</span>
                <h4>Developer - <span>Machine Learning</span></h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit, numquam dignissimos soluta eveniet eius adipisci.</p>
              </div>
              <div class="timeline-item">
                <span class="date">2013-2016</span>
                <h4>Developer - <span>Machine Learning</span></h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit, numquam dignissimos soluta eveniet eius adipisci.</p>
              </div> -->
            </div>
          </div>
          <!-- Experience End-->
          <a href="Yash-Resume.pdf" target="_blank" class="btn">Download CV</a>
          <a href="#contact" class="btn link-item">Contact Me</a>
        </div>
      </div>
    </div>
  </section>
  <!-- About Section End-->

  <!-- Portfolio Section Start-->
  <section class="portfolio-section sec-padding" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="section-title">
          <h2>Recent Work</h2>
        </div>
      </div>
      <div class="row">
        <!-- Portfolio Item Start-->
        <div class="portfolio-item">
          <div class="portfolio-item-thumbnail">
            <img src="{{ url_for('static', filename="img/portfolio/P1.PNG") }}" alt="portfolio item thumb">
          </div>
          <h3 class="portfolio-item-title">Personalized Desktop</h3>
          <button type="button" class="btn view-project-btn">View Project</button>
          <div class="portfolio-item-details">
            <div class="description">
              <p>This is Personalized Desktop project, where user get to experience various features in single interface. Various games and machine learning models makes this project more special.</p>
            </div>
            <div class="general-info">
              <ul>
                <li>Created - <span>2021-present</span></li>
                <li>Technology Used - <span>Python, Tkinter, Machine Learning, OpenCV, Various Python Modules</span></li>
                <li>Role - <span>Developer</span></li>
                <li>View Project - <span><a href="#" target="_blank">www.a.com</a></span></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Portfolio Item End-->
        <!-- Portfolio Item Start-->
        <div class="portfolio-item">
          <div class="portfolio-item-thumbnail">
            <img src="{{ url_for('static', filename="img/portfolio/P2.PNG") }}" alt="portfolio item thumb">
          </div>
          <h3 class="portfolio-item-title">Library Management System</h3>
          <button type="button" class="btn view-project-btn">View Project</button>
          <div class="portfolio-item-details">
            <div class="description">
              <p>A Library Management Project which helps institute in arranging and maintaining its library. Various features like adding and removing books, borrowing and returning books and searching books are present in it.</p>
            </div>
            <div class="general-info">
              <ul>
                <li>Created - <span>June 2021</span></li>
                <li>Technology Used - <span>Python, Tkinter, MySQL</span></li>
                <li>Role - <span>Developer</span></li>
                <li>View Project - <span><a href="#" target="_blank">www.a.com</a></span></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Portfolio Item End-->
        <!-- Portfolio Item Start-->
        <div class="portfolio-item">
          <div class="portfolio-item-thumbnail">
            <img src="{{ url_for('static', filename="img/portfolio/P3.PNG") }}" alt="portfolio item thumb">
          </div>
          <h3 class="portfolio-item-title">Banking System</h3>
          <button type="button" class="btn view-project-btn">View Project</button>
          <div class="portfolio-item-details">
            <div class="description">
              <p>This is a software similar to banking system where you could create you account and perform various operations like adding money, withdrawing money and make transfers.</p>
            </div>
            <div class="general-info">
              <ul>
                <li>Created - <span>April 2021</span></li>
                <li>Technology Used - <span>Python, Tkinter</span></li>
                <li>Role - <span>Developer</span></li>
                <li>View Project - <span><a href="#" target="_blank">www.a.com</a></span></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Portfolio Item End-->
        <!-- Portfolio Item Start-->
        <div class="portfolio-item">
          <div class="portfolio-item-thumbnail">
            <img src="{{ url_for('static', filename="img/portfolio/P4.PNG") }}" alt="portfolio item thumb">
          </div>
          <h3 class="portfolio-item-title">Portfolio Website</h3>
          <button type="button" class="btn view-project-btn">View Project</button>
          <div class="portfolio-item-details">
            <div class="description">
              <p>Its a Portfolio website which you are currently using</p>
            </div>
            <div class="general-info">
              <ul>
                <li>Created - <span>January 2022</span></li>
                <li>Technology Used - <span>HTML, CSS, Javascript</span></li>
                <li>Role - <span>Developer</span></li>
                <li>View Project - <span><a href="#" target="_blank">www.a.com</a></span></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Portfolio Item End-->
        <!-- Portfolio Item Start-->
        <div class="portfolio-item">
          <div class="portfolio-item-thumbnail">
            <img src="{{ url_for('static', filename="img/portfolio/P5.PNG") }}" alt="portfolio item thumb">
          </div>
          <h3 class="portfolio-item-title">Inventory Management</h3>
          <button type="button" class="btn view-project-btn">View Project</button>
          <div class="portfolio-item-details">
            <div class="description">
              <p>A Inventory Management application used to maintain Inventory status of your store. Operations like creating items and in-Party would be helpful in maintaining clear record.</p>
            </div>
            <div class="general-info">
              <ul>
                <li>Created - <span>October 2021</span></li>
                <li>Technology Used - <span>Python, Tkinter, MySQL</span></li>
                <li>Role - <span>Developer</span></li>
                <li>view Project - <span><a href="#" target="_blank">www.a.com</a></span></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Portfolio Item End-->
        <!-- Portfolio Item Start-->
        <div class="portfolio-item">
          <div class="portfolio-item-thumbnail">
            <img src="{{ url_for('static', filename="img/portfolio/P6.PNG") }}" alt="portfolio item thumb">
          </div>
          <h3 class="portfolio-item-title">Billing Software</h3>
          <button type="button" class="btn view-project-btn">View Project</button>
          <div class="portfolio-item-details">
            <div class="description">
              <p>Billing Software designed to create bills at store.</p>
            </div>
            <div class="general-info">
              <ul>
                <li>Created - <span>April 2021</span></li>
                <li>Technology Used - <span>Python, Tkinter</span></li>
                <li>Role - <span>Developer</span></li>
                <li>View Project - <span><a href="#" target="_blank">www.a.com</a></span></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Portfolio Item End-->
      </div>
    </div>
  </section>
  <!-- Portfolio Section End-->

  <!--Contact Section Start-->
  <section class="contact-section sec-padding" id="contact">
    <div class="container">
      <div class="row">
        <div class="section-title">
          <h2>Contact Me</h2>
        </div>
      </div>
      <div class="row">
        <div class="contact-form">
          <form>
            <div class="row">
              <div class="input-group">
                <input type="text" placeholder="Name" class="input-control" required>
              </div>
              <div class="input-group">
                <input type="text" placeholder="Email" class="input-control" required>
              </div>
              <div class="input-group">
                <input type="text" placeholder="Subject" class="input-control" required>
              </div>
              <div class="input-group">
                <textarea placeholder="Message" class="input-control" required></textarea>
              </div>
              <div class="submit-btn">
                <button type="submit" class="btn">Send Message</button>
              </div>
            </div>
          </form>
        </div>
        <div class="contact-info">
          <div class="contact-info-item">
            <h3>Email</h3>
            <p>yashpame@gmail.com</p>
          </div>
          <div class="contact-info-item">
            <h3>Phone</h3>
            <p>+91 8956582884</p>
          </div>
          <div class="contact-info-item">
            <h3>Follow Me</h3>
            <div class="social-links">
              <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
              <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
              <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
              <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
              <!-- <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
              <a href="#" target="_blank"><i class="fab fa-instagram"></i></a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Contact Section End-->

</div>
<!-- Main End-->

<!-- Portfolio item Details popup start-->
<div class="portfolio-popup">
  <div class="pp-inner">
    <div class="pp-content">
      <div class="pp-header">
        <button type="button" class="btn pp-close"><i class="fas fa-times"></i></button>
        <div class="pp-thumbnail">
          <img src="{{ url_for('static', filename="img/portfolio/P3.PNG") }}" alt="pp-thumbnail">
        </div>
        <h3></h3>
      </div>
      <div class="pp-body">
      </div>
    </div>
  </div>
</div>
<!-- Portfolio item Details popup end-->

<script src="{{ url_for('static', filename="script/script.js") }}"></script>

</body>
</html>
